.header_head{
    font-size: 25px;
    font-weight: 800;
    margin-left: 1cm;
    margin-top: 1cm;
    
}
.header_back{
    background-color: white;
    margin-left: 10cm;
    margin-top: 10px;
    max-height: 640px;
    max-width: 770px;
    min-width: 600px;
    display: flex;
    flex-direction: column;
}
.header_pic{
    margin-top: 1cm;
    margin-left: 1cm;
    max-width: 100%;
    max-height: auto;
}
.header_Line{
    margin-top: 0.50cm;
    margin-left: 1cm;
    
    font-weight: 800;
    color: blue;
    font-size: 25px;
}
.header_Sline{
    color: black;
    font-size: 20px;
    font-weight: 600;
    max-width: 90%;
}
