.shoppingList
    {
      border: 1px black solid;
      width: 400px;
      padding-left: 20px; }
    

    #title
    {
      margin-bottom: 5px;
      font-family: sans-serif; }
      
    

    #titleSub
    {
      color: gray;
      margin-left: 10px;
      font-style: roman; }
    

    .item
    {
      background-color: navajowhite;
      margin-bottom: 5px; }
    
    .item > div
    {
        margin-left: 4px;
    }
    .itemunit
    {
      width: 30px;
    }
    .flex
    {
      display: flex;
    }